.loading-container{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  &.is-full{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
.loading-mask{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,.7);
}
.loading-box{
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  width: 22px;
  height: 22px;
  animation: autoRotate 1.2s infinite linear;
  transform-origin: 50% 50%;
  span{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1890ff;
    &:nth-child(1){
      left: 0;
      top: 0;
    }
    &:nth-child(2){
      left: 12px;
      top: 0;
      opacity: .9;
    }
    &:nth-child(3){
      left: 0;
      top: 12px;
      opacity: .6;
    }
    &:nth-child(4){
      left: 12px;
      top: 12px;
      opacity: .3;
    }
  }
}

@keyframes autoRotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}